numpy 
scipy 

# Rough Contact Tests (reference saved expected outputs from previous project version)
pyyaml

# Examples:
matplotlib

# documentation
Sphinx==7.2.6
numpydoc==1.6.0

# for subset of routines using JAX and auto diff 
jax[cpu]

# Other packages come with newer python versions, so follow README.md instructions.
# Specific packages used in current testing are provided in the file:
#    specific_reqs.txt

# Standard Library Packages that should not need to specify:
# unittest 
# argparse
# time
# cProfile # Profiler used on BRB example
# pstats # Investigate profile of BRB example
