numpy 
scipy 

# Dependencies that are expected to come with python installation
unittest
argparse
time
cProfile # Profiler used on BRB example
pstats # Investigate profile of BRB example

# Rough Contact Tests (reference saved expected outputs from previous project version)
pyyaml

# Examples:
matplotlib

# for subset of routines using JAX and auto diff 
jax[cpu]

# Precise dependencies that were used for testing are listed below. 
# Python 3.10.11
# numpy==1.21.5
# scipy==1.7.3
# jax[cpu]==0.3.25
# jaxlib==0.3.25
# matplotlib==3.5.2
